NEXT_PUBLIC_APP_NAME="Blog Magazine"
NEXT_PUBLIC_APP_DESCRIPTION='This is a Magazine Blog'
NEXT_PUBLIC_API_URL="http://localhost:8000"
NEXT_PUBLIC_APP_URL='http://localhost:3000'


#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="

#Security
PORT=3000
ARCJET_KEY='arcjet-key-2025'


# DEMO
NEXT_PUBLIC_DUMMY_EMAIL=admin@admin.com
NEXT_PUBLIC_DUMMY_PASSWORD=123123